{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>



<div class="row">

  {% for destination in destinations %}

<div class="card bg-dark text-white col-6  d-flex align-item-stretch">
  <img class="card-img img-fluid" src="{{destination.pretty_picture.url}}" >
  <div class="card-img-overlay">
    <h5 class="card-title">{{destination.name}}</h5>
    <p class="card-text">{{destination.activities}}</p>
    <p href="{% url 'destination-detail' destination.id %}">Last updated 3 mins ago</p>
  </div>
</div>

  {% endfor %}
</div>
{% endblock content %}